<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">
    <script src="/script-fourth.js" defer></script>
</head>
<body>
    <header><img src="screenshot_30.png" alt=""></header>
    <main>

        <div class="main-div">
            <h3>Sobre sua escola</h3>
            <form action="/fourth-page" method="POST">
            <div class="container">
                <div class="input">
                    <label for="escola">Em qual escola você estuda</label>
                    <select name="escola" id="escola">
                        <% for (const escola of escolas){ %>
                            <option value="<%= escola.id_escola %>"><%= escola.nome %></option>
                           <% } %>
                    </select>
                </div>

                <div class="input" >
                    <label for="localEscola">Onde você estuda</label>
                    <select name="localEscola" id="localEscola" class="input-municip">
                    <option value="null" disabled hidden> - Selecione - </option>
                    <% for (const municipio of municipios){ %>
                        <option value="<%= municipio.id_municipio %>"><%= municipio.nome %></option>
                       <% } %>
                    </select>
                </div>

                <div class="input quadra-input" id="quadra-div-escola">
                    <label for="quadraEscola" id="quadraEscola-label">Quadra</label>
                    <select type="text" name="quadraEscola" id="quadraEscola">
                        <option value="" hidden>- Selecione -</option>
                        <option value="null" hidden></option>
                    <% for (const quadra of quadras){ %>
                        <option value="<%= quadra.id_quadra %>"><%= quadra.nome %></option>
                       <% } %>
                    </select>
                </div>

                <div class="input">
                    <label for="paraEscola">De onde você sai para ir a escola?</label>
                    
                    <input type="radio" name="paraEscola" id="casa">
                    <label for="casa">de casa</label>
                    <input type="radio" name="paraEscola" id="escola">
                    <label for="escola">do trabalho</label>
                    <input type="radio" name="paraEscola" id="outros">
                    <label for="outros">outros</label>
                </div>

                <div class="input">
                    <label for="modoEscola">Como você vai para a escola?</label>
                    <select name="modoEscola" id="modoEscola">
                        <option value="OMU">Ônibus municipal de Palmas</option>
                        <option value="OIN">Ônibus intermunicipal</option>
                        <option value="OFR">Ônibus/van fretamento</option>
                        <option value="ESC">Ônibus/van escolar</option>
                        <option value="ACD">Automóvel particular (condutor)</option>
                        <option value="APS">Automóvel particular (passageiro)</option>
                        <option value="MCD">Moto particular (condutor)</option>
                        <option value="MPS">Moto particular (passageiro)</option>
                        <option value="TXA">Taxi / aplicativo</option>
                        <option value="BIC">Bicicleta</option>
                        <option value="APE">A pé</option>
                    </select>
                </div>

                <div class="input">
                    <label for="tempoModoEscola">Quanto tempo você gasta para chegar a escola?</label>
                    <select name="tempoModoEscola" id="tempoModoEscola">
                        <option value="ATE_15">Menos de 15 minutos</option>
                        <option value="ATE_30">De 15 a 30 minutos</option>
                        <option value="ATE_45">De 30 a 45 minutos</option>
                        <option value="ATE_60">De 45 minutos a 1 hora</option>
                        <option value="MAIS_60">Mais de 1 hora</option>
                    </select>
                </div>

                <div class="input">
                    <label for="horasInicioEscola">A que horas começam as aulas?</label>
                    <input type="time" name="horasInicioEscola" id="horasInicioEscola">
                </div>

                <div class="input">
                    <label for="horasFimEscola">A que horas terminam as aulas?</label>
                    <input type="time" name="horasFimEscola" id="horasFimEscola">
                </div>

                <div class="input">
                    <label for="saidaEscola">Para onde você vai quando sai da escola?</label>

                    <input type="radio" name="saidaEscola" id="casa">
                    <label for="casa">para casa</label>
                    <input type="radio" name="saidaEscola" id="trabalho">
                    <label for="trabalho">para o trabalho</label>
                    <input type="radio" name="saidaEscola" id="outros">
                    <label for="oturos">outros</label>
                </div>

                <div class="input">
                    <label for="modoSaidaEscola">Como você vai da escola para casa/trabalho/outros?</label>
                    <select name="modoSaidaEscola" id="modoSaidaEscola">
                        <option value="OMU">Ônibus municipal de Palmas</option>
                        <option value="OIN">Ônibus intermunicipal</option>
                        <option value="OFR">Ônibus/van fretamento</option>
                        <option value="ESC">Ônibus/van escolar</option>
                        <option value="ACD">Automóvel particular (condutor)</option>
                        <option value="APS">Automóvel particular (passageiro)</option>
                        <option value="MCD">Moto particular (condutor)</option>
                        <option value="MPS">Moto particular (passageiro)</option>
                        <option value="TXA">Taxi / aplicativo</option>
                        <option value="BIC">Bicicleta</option>
                        <option value="APE">A pé</option>
                    </select>
                </div>

                <div class="input">
                    <label for="tempoModoSaidaEscola">Quanto tempo você gasta para chegar no destino</label>
                    <select name="tempoModoSaidaEscola" id="tempoModoSaidaEscola">
                        <option value="ATE_15">Menos de 15 minutos</option>
                        <option value="ATE_30">De 15 a 30 minutos</option>
                        <option value="ATE_45">De 30 a 45 minutos</option>
                        <option value="ATE_60">De 45 minutos a 1 hora</option>
                        <option value="MAIS_60">Mais de 1 hora</option>
                    </select>
                </div>
            </div>
            <div class="btn-div">
                <a href="/third-page">Anterior</a>
                <button>Finalizar</button>
            </div>
            </form>
            <% if (inputData.error) { %>
                <p id="error">*Por favor preencha todos os campos corretamente</p>
                <% } %>
        </div>

    </main>

</body>
</html>