<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">    
    <script src="/script-second.js" defer></script>
</head>
<body>
    <header><img src="screenshot_30.png" alt=""></header>

    <main>

    <div class="main-div">
        <h3>Sobre seu domicílio</h3>
        <form action="/second-page" method="POST">
        <% if (data) { %>
            <div class="container">
                <div class="input">
                    <label for="mora">Onde você mora?</label>
                    <select type="text" name="mora" id="mora">
                        <option value="" disabled hidden> - Selecione - </option>
                        <% for (const municipio of municipios){ %>
                            <option value="<%= municipio.id_municipio %>" <% if(data.id_municipio_domicilio === municipio.id_municipio){%> selected <% } %>><%= municipio.nome %></option>
                           <% } %>
                    </select>
                </div>
    
                <div class="input quadra-input" id="quadra-div" <% if(data.id_municipio === 1){ %> style='display: block !important;' <% } %>>
                    <label for="quadra" id="quadra-label">Quadra</label>
                    <select type="text" name="quadra" id="quadra">
                        <option value="" hidden>- Selecione -</option>
                        <option value="null" hidden></option>
                        <% for (const quadra of quadras){ %>
                            <option value="<%= quadra.id_quadra %>" <% if(data.id_quadra_domicilio === quadra.id_quadra){%> selected <% } %>><%= quadra.nome %></option>
                           <% } %>
                    </select>
                </div>
    
                <div class="input">
                    <label for="moramJunto">Quantas pessoas moram no domicílio?</label>
                    <input type="number" name="moramJunto" id="moramJunto" value= <%= data.quantos_residentes %>>
                </div>
    
                <div class="input">
                    <label for="rendaFamiliar">Qual a renda familiar?</label>
                    <select type="text" name="rendaFamiliar" id="rendaFamiliar">
                        <option value="NAO" <% if(data.renda_familiar === 'NAO'){%> selected <% } %>>Não tem renda</option>
                        <option value="ATE_1" <% if(data.renda_familiar === 'ATE_1'){%> selected <% } %>>Até 1 salário mínimo</option>
                        <option value="DE_1_A_2" <% if(data.renda_familiar === 'DE_1_A_2'){%> selected <% } %>>Mais de 1 salário mínimo até 2 salários mínimos</option>
                        <option value="DE_2_A_3" <% if(data.renda_familiar === 'DE_2_A_3'){%> selected <% } %>>Mais de 2 salários mínimos até 3 salários mínimos</option>
                        <option value="DE_3_A_4" <% if(data.renda_familiar === 'DE_3_A_4'){%> selected <% } %>>Mais de 3 salários mínimos até 5 salários mínimos</option>
                        <option value="DE_5_A_10" <% if(data.renda_familiar === 'DE_5_A_10'){%> selected <% } %>>Mais de 5 salários mínimos até 10 salários mínimos</option>
                        <option value="DE_10_A_20" <% if(data.renda_familiar === 'DE_10_A_20'){%> selected <% } %>>Mais de 10 salários mínimos até 20 salários mínimos</option>
                        <option value="MAIS_DE_20" <% if(data.renda_familiar === 'MAIS_DE_20'){%> selected <% } %>>Mais de 20 salários mínimos</option>
                    </select>
                </div>
    
                <div class="input">
                    <label for="automoveis">Quantos automóveis existem no domicílio?</label>
                    <input type="number" name="automoveis" id="automoveis" value= <%= data.quantos_carros_domicilio %>>
                </div>
    
                <div class="input">
                    <label for="motocicletas">Quantas motocicletas existem no domicílio?</label>
                    <input type="number" name="motocicletas" id="motocicletas" value= <%= data.quantas_motos_domicilio %> >
                </div>
    
                
            </div>     
        <% } %>
        <% if(!data) { %>    
        <div class="container">
            <div class="input">
                <label for="mora">Onde você mora?</label>
                <select type="text" name="mora" id="mora" class="input-municip">
                    <option value="" selected disabled hidden> - Selecione - </option>
                    <% for (const municipio of municipios){ %>
                        <option value="<%= municipio.id_municipio %>"><%= municipio.nome %></option>
                       <% } %>
                </select>
            </div>

            <div class="input quadra-input" id="quadra-div">        
                <label for="quadra" id="quadra-label">Quadra</label>
                <select type="text" name="quadra" id="quadra">
                    <option value="" hidden>- Selecione -</option>
                    <option value="null" hidden></option>
                    <% for (const quadra of quadras){ %>
                        <option value="<%= quadra.id_quadra %>"><%= quadra.nome %></option>
                       <% } %>

                </section>
            </div>

            <div class="input">
                <label for="moramJunto">Quantas pessoas moram no domicílio?</label>
                <input type="number" name="moramJunto" id="moramJunto">
            </div>

            <div class="input">
                <label for="rendaFamiliar">Qual a renda familiar?</label>
                <select type="text" name="rendaFamiliar" id="rendaFamiliar">
                    <option value="NAO">Não tem renda</option>
                    <option value="ATE_1">Até 1 salário mínimo</option>
                    <option value="DE_1_A_2">Mais de 1 salário mínimo até 2 salários mínimos</option>
                    <option value="DE_2_A_3">Mais de 2 salários mínimos até 3 salários mínimos</option>
                    <option value="DE_3_A_4">Mais de 3 salários mínimos até 5 salários mínimos</option>
                    <option value="DE_5_A_10">Mais de 5 salários mínimos até 10 salários mínimos</option>
                    <option value="DE_10_A_20">Mais de 10 salários mínimos até 20 salários mínimos</option>
                    <option value="MAIS_DE_20">Mais de 20 salários mínimos</option>
                </select>
            </div>

            <div class="input">
                <label for="automoveis">Quantos automóveis existem no domicílio?</label>
                <input type="number" name="automoveis" id="automoveis">
            </div>

            <div class="input">
                <label for="motocicletas">Quantas motocicletas existem no domicílio?</label>
                <input type="number" name="motocicletas" id="motocicletas">
            </div>

            
        </div> 
        <% } %>
        <div class="btn-div">
            <a href="/start-page">Anterior</a>
            <% if(pass.estudo === '0' && pass.trabalho === '0'){ %>
            <button>Finalizar</button>
            <% } else {%>
            <button>Próximo</button>
            <% } %>
        </div>
        </form>
        <% if (inputData.error) { %>
            <p id="error">*Por favor preencha todos os campos corretamente</p>
            <% } %>
    </div>

</main>
</body>
</html>